nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #3e549c;
  color:#fff;
}

nav a{
  box-sizing: border-box;
  padding:1rem;
  margin:0;
  color:#fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  max-width: 50%;
  width:50%;
}
