fieldset{
  margin-bottom: 1em;
  border:none;
}
legend{
  font-size: 1em;
}
input{
  display: flex;
  box-sizing: border-box;
  padding:0.5em 1em;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  width: 100%;
  outline-style: none;
}
